@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
}


.button {
  @apply bg-blue-600 text-white px-6 py-2 rounded-lg text-lg font-semibold hover:bg-blue-700 transition-all duration-300 ;
}

.global-container {
  @apply mx-auto lg:w-[80%];
  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
