@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
}


.button {
  @apply bg-blue-600 text-white px-6 py-2 rounded-lg text-lg font-semibold hover:bg-blue-700 transition-all duration-300 cursor-pointer ;
}

.global-container {
  @apply mx-auto lg:w-[100%];  
}


.heroContent { 
  @apply py-2 text-xl lg:text-2xl; 

}

.NormalText{
  @apply text-xl lg:text-2xl leading-relaxed 
}

.CardText{
  @apply text-lg lg:text-xl leading-relaxed 
}

.Descriptions {
  @apply text-lg lg:text-xl leading-relaxed 
}

.BalancedText{
  @apply text-base lg:text-xl leading-relaxed
}

.SmallText{
  @apply text-sm lg:text-base leading-relaxed
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


