@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
}


.button {
  @apply bg-blue-600 text-white px-6 py-2 rounded-lg text-lg font-semibold hover:bg-blue-700 transition-all duration-300 ;
}